@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background-color: #222222;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.header__logo {
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 26px;
}

#burger {
  position: absolute;
  left: -999999999999px;
  visibility: hidden;
}
#burger:checked ~ .nav {
  display: none;
  right: -232px;
}

.nav {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 102px;
  right: 0;
  transition: right 0.3s;
}

.top-head {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F8F3F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-head__heading {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
}

.registration-box {
  padding-top: 64px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 128px;
}

.snape-box {
  width: 360px;
}
.snape-box__head {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #222222;
}
.snape-box__input {
  margin-top: 20px;
  border: 1px solid #A4A4A4;
  padding: 16px;
}
.snape-box__headr {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #222222;
}
.snape-box__123 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.snape-box__text {
  margin-top: 15px;
  margin-bottom: 40px;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #B1B1B1;
}
.snape-box__button {
  margin-bottom: 96px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  background-color: transparent;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  padding: 16px 30px;
  text-align: center;
}
.snape-box__button:hover {
  background-color: #F16D7F;
  color: white;
}

.button__arrow path {
  fill: white;
}

.gender-selection {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.gender-option {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.gender-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgb(164, 164, 164);
  box-sizing: border-box;
  margin-right: 10px;
  background-color: transparent;
}

.gender-circle.male {
  background-color: transparent;
}

.gender-circle.female {
  background-color: transparent;
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked + .gender-circle {
  border-color: #F16D7F;
}

input[type=radio]:checked + .gender-circle.male {
  background-color: #F16D7F;
}

input[type=radio]:checked + .gender-circle.female {
  background-color: #F16D7F;
}

.bonus-box {
  width: 652px;
}
.bonus-box__head {
  margin-bottom: 22px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: #000000;
}
.bonus-box__text {
  margin-bottom: 22px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: #000000;
}
.bonus-box__link {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: #000000;
  position: relative;
  list-style: none;
  padding-left: 35px;
}
.bonus-box__link::before {
  content: "✔";
  position: absolute;
  left: 0;
}

.footer__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 328px;
}

.reviews {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 360px;
}

.footer__form__text {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 17px;
  width: 360px;
}

.footer__subscribe {
  width: 360px;
}

.footer__subscribe__text {
  text-align: center;
  margin-top: 150px;
  font-size: 24px;
  font-weight: 700;
  color: rgb(34, 34, 36);
}

.footer__form__img {
  margin-top: 88px;
}

.footer__subscribe__text2 {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: rgb(34, 34, 36);
}

.wrapper_inpt {
  width: 350px;
  height: 60px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  margin-bottom: 156px;
}

.btn_area {
  width: 80px;
  height: 36px;
  background: #F16D7F;
  border-radius: 20px;
  color: rgb(225, 225, 225);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

input {
  border: none;
  background: none;
  width: calc(100% - 84px);
  height: 100%;
}

.footer {
  position: relative;
  overflow: hidden;
}

.footer__imgf {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
}

.footer__contacts {
  background-color: #222224;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__contacts__text {
  color: rgb(251, 251, 251);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.footer__img:hover path:first-child {
  fill: #F16D7F;
}

.footer__img:hover path:last-child {
  fill: #fff;
}

.footer__img:active path:first-child {
  fill: #F16D7F;
}

.footer__img:active path:last-child {
  fill: #fff;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .header__logo {
    margin: 0;
  }
  .header {
    gap: 424px;
    display: flex;
    justify-content: center;
  }
  .top-head__heading {
    padding-left: 16px;
  }
  .registration-box {
    padding-top: 64px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 22px;
    justify-content: space-around;
  }
  .bonus-box {
    width: 354px;
  }
  .bonus-box__head {
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
  }
  .bonus-box__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
  }
  .bonus-box__link {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    padding-left: 22px;
  }
  .bonus-box__link::before {
    content: "✔";
    position: absolute;
    left: 0;
  }
  .snape-box {
    width: 360px;
    margin-left: 16px;
  }
  .snape-box__input {
    margin-top: 20px;
    border: 1px solid #A4A4A4;
    padding: 16px;
    width: 326px;
  }
  .button__arrow {
    margin-left: 14px;
  }
  .button__arrow path {
    fill: white;
  }
  .gender-selection {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .gender-option {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
  }
  .footer__subscribe__text {
    margin-top: 0;
  }
  .footer__form {
    display: flex;
    flex-direction: column;
    gap: 72px;
    flex-wrap: wrap;
    align-content: center;
    padding-bottom: 140px;
  }
  .wrapper_inpt {
    margin-bottom: 0px;
  }
  .footer__contacts__text {
    padding-left: 30px;
  }
  .footer__contacts_icons {
    margin-right: 32px;
  }
}
@media (max-width: 425px) and (min-width: 375px) {
  .header__logo {
    margin: 0;
  }
  .header {
    gap: 200px;
    display: flex;
    justify-content: center;
  }
  .basket {
    display: none;
  }
  .top-head {
    display: flex;
    justify-content: center;
  }
  .registration-box {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 40px;
    padding-bottom: 100px;
    align-items: center;
  }
  .snape-box__button {
    margin-bottom: 0;
  }
  .bonus-box {
    width: 354px;
  }
  .bonus-box__head {
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
  }
  .bonus-box__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
  }
  .bonus-box__link {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    padding-left: 22px;
  }
  .bonus-box__link::before {
    content: "✔";
    position: absolute;
    left: 0;
  }
  .snape-box {
    width: 360px;
  }
  .snape-box__input {
    margin-top: 20px;
    border: 1px solid #A4A4A4;
    padding: 16px;
    width: 326px;
  }
  .button__arrow {
    margin-left: 14px;
  }
  .button__arrow path {
    fill: white;
  }
  .gender-selection {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .gender-option {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
  }
  .footer__form__img {
    width: 90px;
  }
  .footer__form__text {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    width: 344px;
  }
  .footer__subscribe__text {
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
  }
  .footer__subscribe__text2 {
    margin-top: 0;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 22px;
  }
  .footer__form {
    display: flex;
    flex-direction: column;
    gap: 60px;
    flex-wrap: wrap;
    align-content: center;
    padding-bottom: 110px;
  }
  .wrapper_inpt {
    margin-bottom: 0px;
  }
  .footer__contacts {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    gap: 26px;
  }
  .footer__contacts__text {
    padding-left: 0;
  }
  .footer__contacts_icons {
    margin-right: 0px;
  }
}/*# sourceMappingURL=style.css.map */